<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Interface</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'style1.css'%}">
</head>

<body>
    <div class="wrapper">
        <div class="image-left">
            <img src="{% static 'images1/male.avif'%}" alt="Male Doctor">
        </div>
        <div class="container">
            <div class="header">
                <div class="doctor-name">
                    {{doctor}}
                </div>
                <div class="prescription-link">
                    <form action="{% url 'serve_prescription_form' doctor.id %}" method="get">
                        {% csrf_token %}
                        <button type="submit">Generate Prescription</button>
                    </form>
                </div>
            </div>
            <div class="schedule">
                <h2>Today's Schedule</h2>
                <ul>
                    <li><span class="time-slot">9:00 AM - 10:00 AM</span><span class="patient-name">Patient A</span>
                    </li>
                    <li><span class="time-slot">10:00 AM - 11:00 AM</span><span class="patient-name">Patient B</span>
                    </li>
                    <li><span class="time-slot">11:00 AM - 12:00 PM</span><span class="patient-name">Patient C</span>
                    </li>
                    <li><span class="time-slot">1:00 PM - 2:00 PM</span><span class="patient-name">Patient D</span></li>
                    <li><span class="time-slot">2:00 PM - 3:00 PM</span><span class="patient-name">Patient E</span></li>
                    <li><span class="time-slot">3:00 PM - 4:00 PM</span><span class="patient-name">Patient F</span></li>
                </ul>
            </div>
        </div>
        <div class="image-right">
            <img src="{% static 'images1/female.avif' %}" alt="Female Doctor">
        </div>
    </div>
<!-- 
    <script>
        function generatePrescriptionLink() {
            alert("Prescription link generated!");
        }
    </script> -->
</body>

</html>