<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Interface</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'style1.css'%}">
</head>

<body>
    <div class="wrapper">
        <div class="image-left">
            <img src="{% static 'images1/male.avif'%}" alt="Male Doctor">
        </div>
        <div class="container">
            <div class="header">
                <div class="doctor-name">
                    {{doctor}}
                </div>
                <div class="prescription-link">
                    <form action="{% url 'serve_prescription_form' doctor.id %}" method="get">
                        {% csrf_token %}
                        <button type="submit">Generate Prescription</button>
                    </form>
                </div>
            </div>
            <div class="schedule">
                <h2>Doctor Schedule</h2>
                <ul>{% for s in schedules%}
                    <li><span class="time-slot">{{s.schedule}}</span><span class="patient-name">{{s.patient}}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="image-right">
            <img src="{% static 'images1/female.avif' %}" alt="Female Doctor">
        </div>
    </div>
    <!-- 
    <script>
        function generatePrescriptionLink() {
            alert("Prescription link generated!");
        }
    </script> -->
</body>

</html>